{% extends 'bonavallBancdeltempsBundle:Default:skel.html.twig' %}

{% block body -%}
    <h1>Registre Usuari</h1>
    <div class="form-group">
        <div class ="row">
            <div class ="symfony-form-row col-xs-4 col-md-4 col-sm-4 col-lg-4 col-md-offset-4">
                 <form action ="{{ path('/altausuari/') }}" method="post">

                    {{ form_rest(form) }}

                    <input type="submit" />
                 </form>
            </div>
        </div>
    </div>

{% endblock %}
