{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Usuari edit</h1>
 
    
       
        {{ form_errors(edit_form) }}
    {% if edit_form.vars.value.fotografia is not null %}
            <img src="{{ asset('upload/' ~ entity.id ~'/' ~ entity.fotografia)}}" alt="" height="200" width="200"/>
        {% endif %}
        
    {{ form(edit_form) }}
            

        <ul class="record_actions">
    <li>
        <a href="{{ path('usuari') }}">
            Back to the list
        </a>
    </li>

</ul>
{% endblock %}
