{% extends '::base.html.twig' %}

{% block body -%}
    <script src="{{ asset('js/newUsuari.js') }}" type="text/javascript"></script>
    <h1>Usuari creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('usuari') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
