{% extends '::base.html.twig' %}

{% block body -%}
<h1>Usuari creation</h1>
{{ form_label(form.fotografia) }} <br />
                {{ form_widget(form.fotografia,{'attr': {'class': 'file','data-show-upload':'false'}}) }} <br />
    {{ form(form) }}


<ul class="record_actions">
    <li>
        <a href="{{ path('usuari') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
