{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Sol·licituds</h1>

<div class="panel panel-default">
    <div class="container-fluid">
        <div class="table-responsive" >
    <table class="table table-condensed">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Datasolicitut</th>
                <td>{{ entity.dataSolicitut|date('d-m-Y') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_solicituts') }}">
            Torna a la llista
        </a>
    </li>
    <li>
        <a href="{{ path('admin_solicituts_edit', { 'id': entity.id }) }}">
            Edita
        </a>
    </li>

</ul>
</div>
</div>
</div>        
{% endblock %}
