{% if error %}
<div>{{ error.message }}</div>
{% endif %}



<form action="{{ path('login_check') }}" method="post">
    <label for="persona">Email:</label>
    <input id="email" type="text" name="_username" value="{{ last_username }}" />
    <label for="password">Contrasenya:</label>
    <input id="password" type="password" name="_password" /> <input type="submit" name="login" />
</form>