{% extends 'bonavallBancdeltempsBundle:Default:skel.html.twig' %}

{% block body -%}
    <h1>Serveisconsumits</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Comentaris</th>
                <td>{{ entity.comentaris }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_serveisconsumits') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_serveisconsumits_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>

</ul>
{% endblock %}
