body{
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    padding-top: 100px;
    padding-bottom: 70px;
}

#navbar-head{
    width: 80%;
    margin: 0 auto;
    
}

#navbar-foot{
    width: 80%;
    margin: 0 auto;
    
}

.inici-cos{
    padding: 5px;

    //clear:left;
}

.section-feste-soci{
    padding: 5px;
}

.section-novetats{
    padding: 5px;
}

.user-message{
    color: white;
    
}