{% extends 'bonavallBancdeltempsBundle:Default:skel.html.twig' %}

{% block body -%}
    <h1>Solicita el servei</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('user_serveis') }}">
            Torna enrere
        </a>
    </li>
</ul>
{% endblock %}
