{% extends 'bonavallBancdeltempsBundle:Default:skel.html.twig' %}

{% block body -%}
<h1>Sol·licitut enviada</h1>
<div class="panel panel-default">
    <div class="container-fluid">
        <div class="table-responsive" >
            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ entity.id }}</td>
                    </tr>
                    <tr>
                        <th>Missatge</th>
                        <td>{{ entity.missatge }}</td>
                    </tr>
                    <tr>
                        <th>Data</th>
                        <td>{{ entity.data|date('d-m-Y H:i:s') }}</td>
                    </tr>
                </tbody>
            </table>

            <ul class="record_actions">
                <li>
                    <a href="{{ path('user_serveis') }}">
                        Torna als serveis
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>   
{% endblock %}
