{% extends 'bonavallBancdeltempsBundle:Default:skel.html.twig' %}
{% block body %}
    <form role="form">
        <div class="row">
            <div class="col-xs-6 col-md-4 col-sm-4 col-lg-3 col-md-offset-4">
                <div class="form-group">
                    <label for="exampleInputEmail1">Nom:</label>
                    <input type="text" class="form-control" id="nom" placeholder="Nom">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Cognoms</label>
                    <input type="text" class="form-control" id="cognoms" placeholder="Cognoms">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Adreça</label>
                    <input type="email" class="form-control" id="adreca" placeholder="Adreça">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Telèfon</label>
                    <input type="password" class="form-control" id="telefon" placeholder="Telèfon">
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">File input</label>
                    <input type="file" id="exampleInputFile">
                    <p class="help-block">Example block-level help text here.</p>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>

    </form>
{% endblock %}