{% extends 'bonavallBancdeltempsBundle:Default:skel.html.twig' %}
{% block body %}
<div class="jumbotron">
    <div class="container">
        <h1>Banc del Temps</h1>
        <p>Tothom té alguna habilitat. Tothom necessita ajuda. Tothom pot ajudar a un altre. Un banc del temps et permet comerciar amb altres persones amb el teu temps i les teves habilitats. Uneix-te ara i descobreix com ajudar i ser ajudat.</p>      
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Comerciar amb temps</h2>
            <p>
            <p>Ofereix algun tipus de servei (reparacions, classes, vigilar a gent gran...) i posa-li el preu que tu valoris en punts.</p>
            <p>Hauràs d'especificar durant quant temps estarà disponible i quina durada en hores.</p>
            <p>Si un usuari vol el teu servei farà una sol·licitud i mitjançant missatges podreu especificar com quedar, etc...</p>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Dona la teva opinió</h2>
            <p>Una vegada consumit un servei podràs fer una valoració d'aquest.</p>
            <p>Tant si l'experiència ha estat positiva com negativa és molt important que deixis una opinió per a facilitar l'ús del banc del temps</p>
            <p>No t'oblidis de ser respectuós! Si has tingut cap problema, pots utilitzar l'eina de denúncia, però no utilitzis les valoracions per resoldre un problema personal amb un altre usuari.</p>
        </div>
        <div class="col-md-3">
            <h2>Ajudar i ser ajudat</h2>
            <p>
                Per a poder gaudir d'un servei, primer hauràs d'haver ofert un tu. Mentre més ofereixis, més podràs aconseguir tu. És molt important tenir usuaris actius per a què l'experiència sigui satisfactòria.
            </p>
        </div>
    </div>
</div>
{% endblock %}