{% extends '::base.html.twig' %}

{% block body -%}
<h1>Nou Missatge</h1>
<div class="panel panel-default">
    <div class="container-fluid">
        {{ form_start(form, {'action': path('missatge_rebudes_creat')}) }}
        {{form_widget(form.missatge)}}
        {{form_row(form.submit)}}
        {{ form_end(form) }}
    </div>
</div>

{% endblock %}