{% extends '::base.html.twig' %}

{% block body -%}

<h1>Edita el servei: {{ entity }}</h1>
<div class="panel panel-default">
    <div class="container-fluid">
        <br />            
    </div>
                    {{ form(edit_form) }}
</div>
<br />
</div>
</div>

{% endblock %}
